@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@400;700&display=swap");
body {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

.inner {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 400px;
  }
}

.header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-left {
  width: 210px;
  height: auto;
  margin-left: 50px;
  flex-shrink: 0;
}

.header-right ul {
  display: flex;
}
.header-right ul li:first-child {
  border-bottom: 3px solid #37952f;
}
.header-right ul a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 18px;
}

.mv {
  margin-top: 100px;
  background-color: #37952f;
  height: 480px;
  display: flex;
  align-items: center;
}

.mv-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .mv-wrapper {
    display: block;
  }
}

.mv-left {
  margin-left: 60px;
  font-weight: bold;
  font-size: 36px;
  line-height: 2;
  color: #ffffff;
  flex: 1 1 460px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .mv-left {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.mv-right {
  width: 40.5904059041%;
}
.mv-right img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .mv-right {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }
}

.section-title {
  margin: 80px auto 40px;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2em;
}

.section-service-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-service-wrapper ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .section-service-wrapper ul {
    display: block;
  }
}
.section-service-wrapper ul li {
  width: calc(33.333% - 13.3333333333px);
  padding-bottom: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .section-service-wrapper ul li {
    width: 100%;
  }
  .section-service-wrapper ul li:not(:first-child) {
    padding-top: 20px;
  }
}
.section-service-wrapper ul li img {
  width: 100%;
  height: auto;
}
.section-service-wrapper ul li a {
  display: block;
  margin-top: 32px;
  width: 87.9310344828%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37952f;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}
.section-service-wrapper ul li a:hover {
  color: #37952f;
  background-color: #ffffff;
  border: 2px solid #37952f;
}

.service-thumb-title {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.service-thumb-text {
  margin-top: 17px;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 20px;
}

.section-btn {
  margin-top: 40px;
  width: 400px;
  height: 70px;
  border: 2px solid #37952f;
}
.section-btn a {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.section-btn a:hover {
  color: #ffffff;
  background-color: #37952f;
  border: 2px solid #ffffff;
}

.section-pickup-wrapper ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .section-pickup-wrapper ul {
    flex-wrap: wrap;
  }
}
.section-pickup-wrapper ul li {
  width: calc(100% - 15px);
}
.section-pickup-wrapper ul li:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .section-pickup-wrapper ul li {
    width: calc((100% - 20px) / 2);
  }
  .section-pickup-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .section-pickup-wrapper ul li:nth-child(2n+1) {
    margin-right: 20px;
  }
}
.section-pickup-wrapper ul li a {
  display: block;
  transition: 0.3s;
}
.section-pickup-wrapper ul li a:hover {
  opacity: 0.6;
}
.section-pickup-wrapper ul li a img {
  width: 100%;
}
.section-pickup-wrapper ul li a p {
  margin-top: 19px;
  margin-left: 10px;
  padding-left: 10px;
}
.section-pickup-wrapper ul li a p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  margin-right: 10px;
  transform: rotate(45deg);
}

.footer {
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  height: 100px;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
}

.footer-left {
  margin-left: 50px;
}
.footer-left ul {
  display: flex;
  display: block;
}
.footer-left ul li:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .footer-left {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-left ul li:not(:first-child) {
    margin-left: 0px;
  }
}

.footer-right {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .footer-right {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box-parent {
  background-color: skyblue;
  width: 1000px;
  height: 200px;
}

.box {
  width: 200px;
  height: 100px;
  background-color: yellow;
}